/* ## Colors */

/* ### Primary */
$Dark-Cyan: hsl(179, 87%, 29%);
$Cyan: hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);

/* ### Neutral */

$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla",sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    .root{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: $Grayish-Blue;
        .root__container{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
        }
    }
}

.simple{
    border-radius: 5px;
    max-width: 760px;
    height: auto;
    .simple__container{
        width: 100%;
        height: 100%;
        .simple__data{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 45% 55%;
        }
    }
}

.simple__community{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0 ;

   grid-column: 1/3;
   grid-row: 1/2;
   background-color: $Light-Gray;
   padding: 2rem;
   .simple__community-data{
       
       .simple__community-title{
           color: $Cyan;
           margin-bottom: 1rem;
       }
       .simple__community-subtitle{
           margin-bottom: 1rem;
           color: $Bright-Yellow;
       }
       .simple__community-description{
           margin-bottom: 1rem;
           color: $Grayish-Blue;
       }
   }
}
.simple__subscription{
    width: 100%;
    height: 100%;
   border-radius: 0 0 0 5px;

   grid-column: 1/2;
   padding: 2rem;
   background-color: $Dark-Cyan;
   .simple__subscription-data{
       color: $Light-Gray;
       h3{
           font-size: 24px;
           font-weight: 700;
           margin-bottom: 1rem;
       }
       p{
           margin-bottom: 1rem;
           span{
               font-weight: 700;
               font-size: 32px;
               margin-right: .45rem;
           }
       }
       button{
           width: 100%;
           height:48px;
           background-color: $Bright-Yellow;
           color: $Light-Gray;
           border: none;
           box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.415);
           border-radius: 5px;
       }
   }
}
.simple__why{
    width: 100%;
    height: 100%;
   border-radius: 0 0 5px 0;

   grid-column: 2/3;
   padding: 2rem;
   background-color: $Cyan;
   .simple__why-data{
       color: $Light-Gray;
       width: 55%;
       h3{
           margin-bottom: 1rem;
       }
   }
}

@media screen and (max-width:767px){
    .simple{
        .simple__container{
            .simple__data{
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows:1fr 1fr 1fr ;
            }
        }
    }
    .simple__community{    
       grid-row: 1/2;
    }
    .simple__subscription{
        grid-row:2/3 ;
       grid-column: 1/1;
       border-radius: 0;

    }
    .simple__why{
        grid-row: 3/4;
       grid-column: 1/1;
       border-radius: 0 0 5px 5px;
    }
}
